body {
  background-color:#f7f7f7;
  font-family:helvetica;
  /*overflow:scroll;*/
  position:relative;
  /*left:320px;*/
  width:500px;
  /*border:1px solid red;*/
}
#close {
  color:#223165;
  /*border:1px solid red;*/
  text-align:right;
  font-weight:bold;
}
#ticket {
  background-color:#ffffff;
  border-radius:10px;
  box-shadow:5px 5px 20px 10px #d3d3d3;
  border:1px red solid;
}
#header {
  background-color:#223165;
  color:white;
  text-align:center;
  font-weight:bold;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  padding-top:10px;
  padding-bottom:10px;
}
#qrcode {
  display:flex;
  justify-content:center;
  margin:20px 20px 20px 20px;
  margin-left:20px;
  margin-right:20px;
  /*border:1px solid red;*/
}
#time {
  background:linear-gradient(to right, #68acac, #68acac 33.33%, #ffc757 33.33%, #ffc757 66.66%, #eb5766 66.66%);
  /*filter:brightness(1.25);figure out how to change color to a white color*/
  /*text-align:center;*/
  text-shadow:0px 0px 10px #000000, 2px 2px 4px #000000, 2px 2px 4px #000000;
  color:white;
  font-size:30px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  margin-left:20px;
  margin-right:20px;
  padding-top:10px;
  padding-bottom:10px;
}
#time_data {
  position:relative;
  left:0px;
}
#information {
  margin-left:20px;
  margin-right:20px;
  padding-top:10px;
  padding-bottom:10px;
}
#name {
  float:left;
  font-weight:bold;
}
#package {
  float:right;
  font-weight:bold;
}
#station {
  background-color:#f7d5f4;
  text-align:center;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  margin:15px 20px 15px 20px;
  /*
  margin-bottom:20px;
  margin-left:20px;
  margin-right:20px;
  */
}
#logo {
  padding:50px 0px 50px 0px;
}
#station1 {
  position:absolute;
  left:150px;
  top:500px;
  font-size:35px;
  font-weight:800;
}
#station1_number {
  position:absolute;
  background-color:black;
  font-weight:700;
  width:50px;
  color:white;
  top:550px;
  left:250px;
  padding:10px 10px 10px 10px;
  font-size:35px;
}
#station2 {
  position:absolute;
  left:150px;
  top:625px;
  font-size:35px;
  font-weight:800;
}
#station2_number {
  position:absolute;
  background-color:black;
  font-weight:700;
  width:50px;
  color:white;
  top:675px;
  left:250px;
  padding:10px 10px 10px 10px;
  font-size:35px;
}
#triangle-up {
  width:0px;
  height:0px;
  border-left:40px solid transparent;
  border-right:40px solid transparent;
  border-bottom:125px solid black;
  position:absolute;
  font-weight:700;
  font-size:30px;
  color:white;
  left:375spx;
  top:550px;
  display:flex;
  justify-content:center;
  line-height:150px;
}
#p {
  position:absolute;
  left:400px;
  top:550px;
}
#link {
  background-color:#223165;
  text-align:center;
  color:white;
  font-weight:bold;
  margin-left:20px;
  margin-right:20px;
  margin-bottom:15px;
  padding-top:15px;
  padding-bottom:15px;
}
#footer {
  border-top:1px dotted black;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  color:#223165;
  margin-left:20px;
  margin-right:20px;
}
#actions {
}
#ticket-information {
}
#arrow-out-of-box {
  width:15px;
}
#three-dots {
  width:30px;
}
#three-dots-with-lines {
  width:15px;
}
